
/*fonts styles*/
$font-mon-b: 'montserratblack';
$font-mon-h: 'montserrathairline';
$font-mon-l: 'montserratlight';

$font-s-def: 0.875em; 
/*end fonts styles*/


$height-header: 64.625em;
$height-footer: 53.1875em;
